
/* Animation for slow bounce */
@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 1.5s infinite;
}

/* Animation for moving stripes */
@keyframes move-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 14px 0;
  }
}

.animate-stripes {
  animation: move-stripes 1.1s linear infinite;
}
